/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   * {
  outline: 1px solid red;
}


/* ==========================================================================
  GENERAL STYLES
   ========================================================================== */ 

  /* .content-wrapper {
    width: 90%;
  }
*/

 html {
    font-size: 1rem;
}
 
body {
   font-family: 'Open Sans', sans-serif;
   font-size: 1em;
   color: #e2e3ed;
   text-align: left;
   background-color: #202322;
}
 
ul, 
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
a {
  text-decoration: none;
  color: #e2e3ed;
}

a:visited {
  color: #e2e3ed;
 
 }
 
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.875em;
}
 
h3, 
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
 /* line-height: 1.5em;*/
  font-weight: 500;
  margin: 20px 0;
}
 
p {
  font-size: 0.875em;
  line-height: 1.285;
 /* font-weight: 400;*/
}

address {
  font-style: normal;
 /* font-size: 0.875em; */
 }


 .content-wrapper {
    width: 90%;
  /*  margin: 50px 0;*/
 }
 
img {
   width: 100%
}
 
figure {
    margin: 0;
  }
 

/* ==========================================================================
BASE HEADER AND FOOTER STYLES
   ========================================================================== */ 


header,  
footer {
  background-color: #202322;
  color: #e2e3ed;
}



/* ==========================================================================
  HEADER STYLES
   ========================================================================== */ 

header {
      display: flex;
      justify-content: center;
     /* padding: 15px 0;*/
      background-color: #202322;

}

header .content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
  padding: 10px 0 20px;
}

.header-divider {
  background: #3a3a3a;
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
}

header nav {
  display: flex;
  justify-content: center;
  width: 60%;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

header nav ul li {
  font-size: 1.125em;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.125em;
}


header figure {
  width: 100%;
  padding: 0;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

header figure a {
 
}

#unplugged {
  width: 220px;
}

header .content-header h1 {
  font-size: 1.875em;
  line-height: 1.875em;
}

header nav ul li a {

}
nav ul li a:visited {

}

/* ==========================================================================
  FOOOTER
   ========================================================================== */ 

   footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #202322;
  }

  footer p {

  }

  footer .content-wrapper {
    width: 55%;
    margin: 50px 0;
  }

  footer .contact {
    /*margin-bottom: 50px;*/
  }

  footer .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  footer .social-icons p {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .copyright {
    margin: 20px 0;
}
  
  .footer-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .footer-contact {
    margin-bottom: 50px;
  }
  
  .contact address {
  
  }
  
  address {
  
  }
  
  address h4 {
    text-align: center;
    font-weight: 500;
    font-size: 1.125em;
  }
  
  address p {
    text-align: center;
    font-weight: 400;
    font-size: 0.875em;
  }
  
  .social {
  
  }
  
  .social h4 {
    text-align: center;
    margin: 40px 0 0 0;
  }
  
  .social-icons h4 {
    text-align: center;
    font-weight: 500;
  
  }
  
  .social-icons a {
       padding: 10px;
  }
  
  .soc-icon {
    background-color: #527158;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }
  
  .soc {
  
  }
  
  .fa-facebook {
  
  }
  
  .copyright p {
    text-align: center;
   }


/* ==========================================================================
MOBILE STYLES - HOMEPAGE
   ========================================================================== */ 

main {
 background-color: #527158;
 color: #e2e3ed;
}

.hero-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.hero-area .content-wrapper {
  display: flex;
  /*width: 90%;*/
  flex-direction: column;
}

.hero-area h1 {
  font-size: 2.25em;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

.content-wrapper h1 {

}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

article h1 {

}
article h3 {

}

article p {

}

/* ==========================================================================
FORM STUFF - MOBILE SITE
   ========================================================================== */ 
 
   /*aside {
    background-color: #527158;
    display: flex;
    justify-content: center;
  }*/

  aside {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
   
   aside .form {
     margin-top: 30px;
   }
    
   input[type=text] {
     box-sizing: border-box;
     width: 100%;
     color: #2a423a;
     font-style: italic;
      padding: 2em;
   }
    
   input[type=button] {
  /*   width: 100%; */
    padding: 20px 0; 
     margin-top: 15px; 
     background-color: #2a423a;
     font-family: 'Poppins', Helvetica, Arial, sans-serif;
     font-weight: 500;
     font-size: 1.125em;
     color: #e2e3ed;
     border: none;
     text-align: center;
     text-transform: uppercase;
   }



.form-description {
  
}

.form-description h3 {
   
}

.form {
  display: flex;
  flex-direction: column;
}

button {

}

button, input {
  overflow: visible;
  margin: 8px;
  padding: 15px;
}

#email {
  color: #2a423a;
}

input #download-itinerary {
  background-color: #2a423a;
  color: #e2e3ed;
}

input {

}

/* ==========================================================================
  AMMENITIES  LIST AND ICONS SECTION
   ========================================================================== */ 


.features {
  display: flex;
  justify-content: center;
  background-image: url(../img/dinner.jpg);
}

.features h2 {

}

.features article {

}

.features .content-wrapper {
   display: flex;
   flex-direction: column;
   margin: 20px;
}

.features p {

}

.features-items {

}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.icon-item p {
     
}

.font-awesome-icon {

}

.features-item-description {
   text-align: center;
   width: 60%;
}

/* ==========================================================================
  FEATURED TEAM (REVIEW) SECTION
   ========================================================================== */ 

.reviews {
   display: flex;
   justify-content: center;
   background-color: #294139;
   padding: 30px 0; 
}

/*
.reviews h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.reviews h3 {
  width: 55%;
  margin: 20px 0;
}
*/

.reviews .content-wrapper {
    display: flex;
    flex-direction: column;
}

.reviews-header {

}

.reviews-header h2 {

}

.content-header h3 {

}

.content-wrapper h2 {

}

.content-wrapper p {

}

.content-wrapper .lacrue-team {

}

.lacrue-team {

}

.lacrue-team h3 {

}

.lacrue-team p {
  
}

.lacrue-team-img {

}

.lacrue-team-text {

}



/* ==========================================================================
  ABOUT PAGE - MOBILE STYLES
   ========================================================================== */ 


.mission {
  /*background-color: #527158;*/
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.contact-section {
  display: flex;
  justify-content: center;
  background-color: #2a423a;
  padding: 50px 0;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-content: flex-start;
}

.mission .content-wrapper {
  display: flex;
  justify-content: center;
}

.mission-content {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.mission-content h1 {

}

.mission-content p {

}

map {
 
}

map figure {
}

.mission-content {

}

.mission-content h2 {
 
}

.mission-content h3 {
  
}


.contact-section .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-content {

}

.contact-content h2 {

}

.contact-content h3 {

}

.contact-content p {

}

.address-about {
  display: flex;
  flex-direction: column;
}

.address-about p {
    text-align: left;
    padding: 0;
    margin: 0;
}

.address-about h3 {

}

.chat {

}

.chat h3 {

}

.chat p {
  text-align: left;
  margin: 0;
  padding: 0;

}

/* ==========================================================================
FAQ PAGE MOBILE STYLES
   ========================================================================== */ 


.faq {
  background-color: #527158;
  display: flex;
  justify-content: center;
}

.faq .content-wrapper {
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/*
faq h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.faq-content {
  margin-bottom: 50px;
}

.faq-content h4 {
  line-height: 1.333;
}
*/

.faq-items {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.faq-items h1 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 1.875em;
   padding: 0 0 20px 0;
}
/*don't think this one is needed
article {

}
*/

.faq-list-item {

}

.faq-list-item h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.125em;
  margin: 10px 0;

}

.faq-list-item p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 0 0 50px 0;
}

/*
@media all and (min-width:768px) {
 media queries for tablet */

 /* ==========================================================================
        MEDIA QUERIES FOR TABLET
   ========================================================================== */ 

@media only screen and (min-width:768px) {

header .content-wrapper {
      max-width: 640px;
      flex-wrap: nowrap;
      width: 80%;
}

  header figure {
      display: block;
      width: 100%
}

header nav {
  width: 50%;
}

header nav ul li a {
  padding: 0 20px;
}

.hero-area h1 {
  font-size: 2.90em;
}

.header-divider {
  width: 0%;
  height: 0px;
}

footer .content-wrapper {
  width: 100%;
}

.footer-content {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
}

footer .social-icons {
  padding: 20px 0;
}

footer .soc-icon {
  margin: 0 20px;
}

/*Homepage specific*/

.hero-area .content-wrapper {
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hero-area article {
  width: 40%;
}

aside {
  display: flex;
  justify-content: center;
  width: 45%;
}

aside .form {
  margin-top: 0;
}

.features {
  padding: 50px;
}

.features .content-wrapper {
   /* width: 80%;*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon-item {
  width: 45%;
}

.reviews {
  padding: 50px 0;
}

.reviews .content-wrapper {
 /* width: 80%;*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-wrapper h2 {
  /* width: 85%; */
}

.lacrue-team {
   width: 48%;
}

.lacrue-team h3 {
  margin-top: 0;
}


address p {
  padding-top: 20px;
}

/* ==========================================================================
        MEDIA QUERIES TABLET - FAQ PAGE SPECIFIC
   ========================================================================== */ 


  
   article {
      width: 45%;
}

 .faq-items {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
}

  .faq-items h1 {
    width: 100%;
  }

  /* ==========================================================================
      MEDIA QUERIES TABLET - ABOUT PAGE SPECIFIC
   ========================================================================== */ 
  
  .mission-content { 
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-between;
}

.mission .content-wrapper{
    width: 80%;
}

  .mission-content p {
    width: 45%;  
  }

  .contact-section {
    padding: 50px 0 0 0;
  }

  .contact-section .content-wrapper {
      margin-bottom: 100px;
      width: 80%;
    }

  .contact-content {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-content h2 {
    width: 100%;
  }

  .address-about {
    flex-wrap: wrap;
    width: 45%;
  }

  .address-about p {

  }

  .chat {
    width: 45%;
  }

  address p {
    padding: 0;
  
  }
  
}

/* ==========================================================================
     MEDIA QUERIES DESKTOP
   ========================================================================== */ 

	
@media only screen and (min-width: 1200px) {  
/*Desktop styles here */  
 
    header {
        padding: 15px 160px;
    }
 
    .content-wrapper {
         max-width: 960px;
    }

    h2 {
      font-size: 2.25em;
    }
  
    h3,
    h4 {
      font-size: 1.875em;
    }
  
    p {
      font-size: 1.125em;
      line-height: 1.333;
    }
  
 
     /* Hero */
    .hero-area h1 {
        width: 80%;
        font-size: 3.75em;
        font-family: 'Poppins', Helvetica, Arial, sans-serif;
        font-weight: 500;
       /*line-height: 1.2;*/
    }

    .hero-area .content-wrapper {
      justify-content: space-around;
    }

    .hero-area article {
      width: 30%;
    }
    
 
    /* Aside */
    aside .content-wrapper {
        justify-content: space-around;
    }

    .content-wrapper h2 {
      width: 100%;
    }
 
    aside .content-wrapper .form-description,
    aside .content-wrapper .form {
        width: 30%;
    }
 
    /* Features */
    .features h2 {
        width: 95%;
    }
 
    .features article {
        flex-basis: 33%;
    }
 
    /* Reviews */ 
    .reviews article div {
        width: 42%;
    }

    footer .content-wrapper {
      width: 70%;
    }

    .footer-content {
      justify-content: space-between;
    }

    footer h4 {
      font-size: 1.875em;
    }
    
 
/* ===================================
=======================================
   About Page - DESKTOP
   ========================================================================== */
    .mission h2,
    .contact-section .content-wrapper h2 {
        width: 100%;
    }

   .mission .content-wrapper {
    width: 80%;
   }
 
/* ==========================================================================
   FAQ Page  - DESKTOP
   ========================================================================== */
    .faq {
      display: flex;
      justify-content: center;
    }

    .faq .content-wrapper {
      justify-content: center;
    }
   
   .faq h2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .faq-items {
      width: 100%;
    }

    header .content-wrapper {
      width: 100%;
      max-width: 960px;
    }
 
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

